# This is Git's per-user configuration file.
[user]
        name = Ian Limarta
        email = {{ .email | quote }}

[pager]
        branch = false

[git]
        tool = vimdiff

[diff]
        tool = vimdiff

[merge]
        tool = vimdiff

[core]
        editor = vim

[credential]
        helper = store
